@import url("https://use.typekit.net/fob6yrf.css");


body{
background-color:#F7B2C8;
  padding:70px;
  }

/* header style */

.header_hearts{
  display:flex;
  width:15%;
  max-width:150px;
  min-width:75px;
  }

.header_hearts img{
  width:20%;
  padding:5px;
  max-width: 250px;
  flex:1;
  /* color:#F8F7F8; */
  }

.hotfrogsart_logo{
  width:15%;
  max-width:150px;
  }

header{
    background-color:#F7B2C8;
    font-family:"reglisse", sans-serif;
    color:#EF6792;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px;
    border-radius:40px 40px 0px 0px;
    border:5px solid #F06793;
    box-shadow: 2px 2px 7px 5px #f282a6;
  }

/* navbar styling */
nav{
  background-color:#F8F7F8;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  border:5px solid #F06793;
  border-top:0px;
  border-bottom:0px;
  box-shadow: 2px 2px 7px 5px #f282a6; 

  /* LOOK HERE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  }
  
nav ul{
  display: flex;
  margin:0px;
  padding: 0px;
  justify-content: space-between;
  width:95%;
  }

nav li{
  list-style-type:none;
  padding:10px;
  /* flex:1; */
  /* text-align: center; */
  }

nav a{
  text-decoration:none;
  color:#F16793;
  font-family: brevia, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  }

nav a:hover {
color:#E82768;
text-decoration-color: #E82768;
text-decoration: underline;
text-decoration-style:solid;
}


/* **** */

main{
  background-color:#F8F7F8;
  border-left:5px solid #F06793;
  border-right:5px solid #F06793;
  margin:0px;
  padding:10px;
  box-shadow: 0px 2px 7px 5px #f282a6;
  }

footer{
  background-color:#F7B2C8;
  font-family:"reglisse", sans-serif;
  color:#EF6792;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:10px;
  border-radius:0px 0px 40px 40px;
  border:5px solid #F06793;
  box-shadow: 2px 2px 7px 5px #f282a6;
  }


  /* responsiveness */
  @media only screen and (max-width: 580px) {
    nav a{
      font-size:12px;
      }
    }
  
  @media only screen and (min-width:1500px) {
    nav a{
      font-size: 24px;
      }
    nav ul{
      width:75%;
      }
    } 
  /* responsiveness fin */